@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  font-family: var(--ff-IBM);
  font-weight: 500;
  font-size: var(--fs-16);
}
:root {
  /*colors*/
  --bg-color: #212a34;
  --second-bg-color: #353f4e;
  --text-color: #fff;
  --main-color: #d80404;
  /*  font families*/
  --ff-orbitron: "Orbitron", sans-serif;
  --ff-comforta: "Comforta", sans-serif;
  --ff-IBM: "IBM Plex Mono", sans-serif;
  --fs-12: clamp(0.5625rem, 0.4965rem + 0.2817vw, 0.75rem);
  --fs-16: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  --fs-18: clamp(0.875rem, 0.787rem + 0.3756vw, 1.125rem);
  --fs-20: clamp(0.9375rem, 0.8275rem + 0.4695vw, 1.25rem);
  --fs-26: clamp(1.25rem, 1.118rem + 0.5634vw, 1.625rem);
  --fs-32: clamp(1.5rem, 1.3239rem + 0.7512vw, 2rem);
  --fs-36: clamp(1.6875rem, 1.4894rem + 0.8451vw, 2.25rem);
  --fs-45: clamp(1.875rem, 1.5449rem + 1.4085vw, 2.8125rem);
  --fs-50: clamp(2.375rem, 2.1109rem + 1.1268vw, 3.125rem);
  --fs-80: clamp(3.75rem, 3.3099rem + 1.8779vw, 5rem);
}
section,
header,
footer {
  padding-inline: 10rem;
}

/* header*/
.header-container {
  display: flex;
  background-color: var(--bg-color);
  width: 100%;
  justify-content: space-between;
  align-self: center;
  gap: 50px;
  padding-block: 1.25rem;
  position: fixed;
  z-index: 10;
}
.headerName {
  color: var(--main-color);
  text-decoration: none;
  gap: 1.5rem;
  font-family: var(--ff-orbitron);
  font-weight: 500;
  font-size: var(--fs-50);
}
.headerMenu {
  display: flex;
  gap: 1.25em;
  font-size: 1.25rem;
  font-family: var(--ff-comforta);
}
.headerMenu a {
  text-decoration: none;
  color: var(--text-color);
  padding-block: 1rem;
}
.headerMenu a:hover {
  color: var(--main-color);
  transition: 0.5s ease-in-out;
}
/* home conainer*/

.home-container {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5rem;
  padding: 150px;
}
.homeContent {
  font-family: var(--ff-comforta);
  line-height: 1.5;
}
.homeContent h2 {
  color: var(--main-color);
  font-size: var(--fs-36);
}
h3 {
  font-family: var(--ff-comforta);
  font-size: var(--fs-32);
  color: var(--text-color);
}
.homeContent p {
  margin-block: 1.8rem;
  color: var(--text-color);
  font-size: var(--fs-16);
}
.socialMedia {
  display: flex;
  gap: 2rem;
}
.socialMedia i {
  color: var(--main-color);
  font-size: var(--fs-45);
  margin-block-end: 4rem;
  margin: 1.4rem;
}
.socialMedia i:hover {
  color: var(--second-bg-color);
  filter: drop-shadow(0 0 10px red);
}
.button {
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: var(--fs-20);
  font-weight: 500;
  letter-spacing: 8px;
  padding: 1em 4rem;
  margin: 2rem;
  border-radius: 1rem;
  border: none;
  box-shadow: -1px 1px 10px 2px var(--main-color);
}
.homeImg img {
  width: 100%;
  max-width: 300px;
  border-radius: 2rem;
  animation: bounce 3s ease-in-out infinite;
  margin-top: 2rem;
}
@keyframes bounce {
  50% {
    transform: translateY(-1rem);
  }
}
/* about container*/
.about-container {
  background-color: var(--second-bg-color);
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  padding: 150px;
}
.about-content h3 {
  font-family: var(--ff-comforta);
  font-size: var(--fs-45);
  color: var(--text-color);
}
.about-content h2 {
  color: var(--main-color);
  font-size: var(--fs-50);
}
.about-content p {
  margin-block: 1.8rem;
  color: var(--text-color);
  font-family: var(--ff-comforta);
  line-height: 1.5;
  font-size: var(--fs-16);
}
.aboutme-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 4rem;
  animation: bounce 3s ease-in-out infinite;
  margin-top: 10px;
}
@keyframes bounce {
  50% {
    transform: translateY(-1rem);
  }
}
/*skills*/
.skills-container {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding-block: 100px;
  font-family: var(--ff-comfortaa);
  text-align: center;
  & h2 {
    font-size: var(--fs-50);
  }
}
.skills-container span {
  color: var(--main-color);
}
.skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-block-start: 50px;
  gap: 20px;
}
.skillbox {
  background-color: var(--second-bg-color);
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--fs-26);

  padding: 30px;
  cursor: pointer;
  transition: all 1s ease-in-out;
  border-radius: 2rem;
}
.skillbox:hover {
  transform: scale(1.04);
  box-shadow: 0 0 45px var(--main-color);
}
.skillbox i {
  font-size: 50px;
  color: var(--main-color);
}

.skillbox p {
  font-family: var(--ff-comfortaa);
  font-size: var(--fs-18);
  margin-block-start: 15px;
}

/* projects*/
.projects-container {
  background-color: var(--second-bg-color);
  padding-top: 130px;
  & h2 {
    text-align: center;
    font-family: var(--ff-comfortaa);
    padding-block-end: 20px;
    color: var(--text-color);
    font-size: var(--fs-50);
  }
  & span {
    color: var(--main-color);
  }
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 sütun - bu kısmı koru */
  grid-template-rows: auto; /* Otomatik yükseklik */
  column-gap: 1rem;
  row-gap: 1rem; /* Satırlar arasında boşluk */
  padding-block-start: 100px;
  max-width: 1200px; /* Genişlik sınırla */
  margin: 100px auto 0; /* Ortalı */
  padding: 0 20px;
}
.project-box img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
}
.project-title {
  opacity: 0;
  text-align: center;
  font-size: var(--fs-26);
  color: var(--main-color);
  font-family: var(--ff-orbitron);
  transform: translateY(-30px);
  transition: all 0.5s linear;
  & a {
    text-decoration: none;
    color: var(--main-color);
  }
}
.project-box:hover .project-title {
  opacity: 1;
  transform: translateY(-40px);
}
/*footer*/
footer {
  background-color: var(--second-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--ff-comfortaa);
  font-size: var(--fs-16);
  font-weight: 600;
  padding-block-end: 80px;
  color: var(--text-color);
}

footer a {
  background-color: var(--main-color);
  border-radius: 8px;
}

footer i {
  color: var(--bg-color);
  font-size: var(--fs-45);
  margin: 10px;
  box-shadow: 0 0 20px var(--main-color);
  transition: all 1s linear;
}

footer a:hover {
  box-shadow: 0 0 60px var(--main-color);
  transform: scale(1.02);
}
/* TABLET (769px - 1024px) - MENU YANINDA KALSUN
@media (max-width: 1024px) {
  section,
  header,
  footer {
    padding-inline: 4rem;
  }
}
header {
  flex-direction: column;
  gap: 10px;
}
.header-container {
  gap: 30px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1rem;
}
.home-container {
  grid-template-columns: 1fr;
  padding: 150px;
}
.button {
  width: 100%;
  font-weight: 400;
  padding: 0.5rem 2rem;
}
.homeImg {
  display: grid;
  place-items: center;
}
.homeImg img {
  width: 250px;
}
.about-container {
  grid-template-columns: 1fr;
}
.aboutme-img {
  display: grid;
  place-items: center;
}
.about-content {
  display: grid;
  place-items: center;
}

.skills {
  grid-template-columns: 1fr 1fr;
}

.projects {
  grid-template-columns: 1fr 1fr;
}
.skills-container .projects-container {
  padding-block: 80px;
}

footer {
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  margin-bottom: 50px;
}

/*mobil*/
@media (max-width: 500px){
 section, header, footer {
  padding-inline: 2rem; 
}
header {
  flex-direction: column;
  gap: 8px;
}
.header-container {
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: column;
  padding: .8rem;
}
.button {
  width: 100%;
  font-weight: 200;
  padding: 0.5rem 1rem;
  
}
.home-container {
  display: grid;
  place-items: center;
  /* padding: 120px; bakılacak*/
}
.homeImg {
  display: grid;
  place-items: center;
}
.socialMedia a {
  display: grid;
  place-items: center;
}
.homeImg img {
  width: 200px;
}
.about-container {
  grid-template-columns: 1fr;
}
.aboutme-img {
  display: grid;
  place-items: center;
}
.about-content {
  display: grid;
  place-items: center;
}

.skills {
  grid-template-columns: 1fr ;
}

.projects {
  grid-template-columns: 1fr ;
}
.skills-container .projects-container {
  padding-block: 50px;
}

footer {
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  margin-bottom: 30px;
} 
}
